@import "../../styles/Variables.scss";

.linkButton {
    padding: 15px;
    border: 2px solid map-get($map: $palette, $key: "black");
    border-radius: 10rem;
    text-transform: uppercase;
    box-shadow: 5px 5px 0px map-get($map: $palette, $key: "black");
    font-size: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-wrap: nowrap;
    i{
      font-size: $font;
    }
    &:hover {
      filter: saturate(400%);
    }
}

.linkButton--primary{
  color: white;
  background-color: map-get($map: $palette, $key: "primary");
}

.linkButton--white{
  color: map-get($map: $palette, $key: "primary");
  background-color: map-get($map: $palette, $key: "white");
}

.linkButton--inverted{
  color: map-get($map: $palette, $key: "white");
  background-color: map-get($map: $palette, $key: "primary");
  border-color: map-get($map: $palette, $key: "white");
  box-shadow: 5px 5px 0px map-get($map: $palette, $key: "white");
}