@use "sass:map";
@use "../../styles/Variables" as *;

.linkButton {
    padding: 15px;
    border: 2px solid map.get($palette, "black");
    border-radius: 10rem;
    text-transform: uppercase;
    box-shadow: 5px 5px 0px map.get($palette, "black");
    font-size: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-wrap: nowrap;
    i{
      font-size: $font;
    }
    &:hover {
      filter: saturate(400%);
    }
}

.linkButton--primary{
  color: white;
  background-color: map.get($palette, "primary");
}

.linkButton--white{
  color: map.get($palette, "primary");
  background-color: map.get($palette, "white");
}

.linkButton--inverted{
  color: map.get($palette, "white");
  background-color: map.get($palette, "primary");
  border-color: map.get($palette, "white");
  box-shadow: 5px 5px 0px map.get($palette, "white");
}
