@use "sass:color";
@use "sass:map";
@use "../../styles/Variables" as *;

.button {
    color: map.get($palette, "primary");
    background-color: map.get($palette, "white");
    margin-left: 15px;
    padding: 15px;
    border: 2px solid map.get($palette, "black");
    border-radius: 10rem;
    text-transform: uppercase;
    box-shadow: 5px 5px 0px map.get($palette, "black");
    font-size: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-wrap: nowrap;
    &:hover {
      filter: saturate(400%);
    }
    i{
      font-size: $font;
    }
}

.button:disabled{
  background-color: color.change(map.get($palette, "white"), $alpha: .5);
  &:hover{
    filter: saturate(100%);
  }
}
