@import "./Variables.scss";

%input {
  width: 90%;
  margin: 0.75em auto;
  padding: 0.5em;
  font-size: $font - 2px;
  outline: 0;
  background-color: white;
  border: 0;
  border-radius: 0.2em;
  color: black;
  font-family: "Teko", sans-serif;
}

.container {
  font-size: $font;
  padding: 1em;
  h2 {
    text-align: center;
    color: white;
    margin: 0.2em 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: map-get($map: $palette, $key: "primary");
    overflow: hidden;
    border-right: 0.25em solid map-get($map: $palette, $key: "secondary");
    border-bottom: 0.25em solid map-get($map: $palette, $key: "secondary");
    border-left: 0.25em solid map-get($map: $palette, $key: "secondary");
    border-top: 0.25em solid
      lighten($color: map-get($map: $palette, $key: "primary"), $amount: 10);
    box-shadow: 0.2em 0.2em 0.5em rgba(#000000, 0.2);
    border-radius: 0.5em;
    border-width: 4px;

    input {
      @extend %input;
    }
    textarea {
      @extend %input;
      resize: none;
    }

    label {
      align-self: flex-start;
      color: white;
      margin-left: 2em;
    }

    button {
      width: 100%;
      padding: 1em 0;
      border: 0;
      background-color: map-get($map: $palette, $key: "secondary");
      color: white;
      font-size: $font;
      cursor: pointer;
      margin-top: 0.2em;
      &:hover {
        background-color: darken(
          $color: map-get($map: $palette, $key: "secondary"),
          $amount: 10
        );
        color: white;
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0.5em;
    form {
      width: 100%;
      label {
        margin-left: 0.75em;
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0;
    margin: 1em 0;
    form {
      width: 100%;
      border: 0;
      border-radius: 0;
      label {
        margin-left: 0.75em;
      }
      button {
        margin: 1em;
        width: 90%;
        border-radius: 0.2em;
      }
    }
  }
}
