@import "./Variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .model{
    width: 100%;
    //width: 600px;
    height: 400px;
    //margin-right: 150px;
  }

  .desc {
    padding: 100px 0px 40px 100px;
    //width: 40%;
    h2 {
      margin: 0 !important;
      font-family: 'Bungee Shade', cursive;
      font-size: $xlfont;
      margin-bottom: 10px;
      text-wrap: nowrap;
    }

    @for $i from 1 to 34 {
      .animatedLetter-#{$i}{
        color: black;
        animation: appear (random($limit: 5) * 1s) ease-in forwards infinite;
        animation-delay: ($i * 50ms);
        cursor: pointer;
      }

      .animatedLetter-#{$i}:hover{
        display: inline-block;
        animation: textUp 1s ease-in forwards alternate infinite;
      }
    }

    @keyframes textUp {
      from{
        display: inline-block;
        transform: translateY(.15rem);
      } to {
        display: inline-block;
        transform: translateY(-.15rem);
      }
    }

    @keyframes appear {
      from{ 
        color: map-get($map: $palette, $key: 'primary');
      }
      to{
        color: darken($color: map-get($map: $palette, $key: 'primary'), $amount: 10);
      }
    }

    p {
      font-weight: bold;
      background-color: rgba($color: #fff, $alpha: .7);
      backdrop-filter: blur(10px);

      padding: .75rem 1.5rem;
      color: #393939;
      letter-spacing: .05rem;
      font-size: $smfont;
      border: 2px solid #000;
      border-radius: .5rem;
      box-shadow: 5px 5px 0px #00000030;
      transition: all .5s;

      &:hover{
        background-color: rgba($color: #fff, $alpha: .95);
      }

    }

    div {
      margin-top: 20px;
      width: 100%;

      & > * {
        padding: 15px;
        border: 2px solid #000;
        border-radius: 10rem;
        text-transform: uppercase;
        box-shadow: 5px 5px 0px #000000;
        font-size: $smfont - 2px;
        &:hover {
          filter: saturate(400%);
        }
        cursor: pointer;
      }

      a {
        color: white;
        background-color: map-get($map: $palette, $key: "primary");
      }

      button {
        color: map-get($map: $palette, $key: "primary");
        background-color: rgba($color: #fff, $alpha: 1);
        margin-left: 15px;
      }
    }
  }
}


.nightBackground{
  color: white;
  background-color: rgba(0,0,0,.7) !important;
}

.buttonsContainer{
  display: flex;

  i{
    margin-left: .5rem;
    font-size: .8rem;
  }
}

@media (max-width: 1100px) {
  .container {
    & > div:last-child {
      //width: 450px;
      //height: 350px;
      //margin-right: 50px;
    }
  }

  .buttonsContainer i{
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    & > div:last-child {
      //width: 450px;
      //height: 300px;
    }

    .desc {
      order: 1;
      margin: 0px auto;
      //margin-top: 40px;
      padding: 0;
      //width: 90%;
    }
  }
}

@media (max-width: 500px) {

  .model{
    display: none;
  }

  .desc {
    margin-top: 5rem !important;
  }
  
}

@media (max-width: 444px) {
  .desc {
    h2 {
      text-wrap: wrap !important;
    }
  }
}

@media (max-width: 400px) {
  .container {
    & > div:last-child {
      //width: 400px;
      //height: 200px;
    }
  }

  .desc{
    p{
      margin-top: 1rem;
    }
  }
}
