@import "./Variables.scss";

.githubContent{
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  max-width: $maxContainer;
  margin: 6rem auto;
  width: 100%;

}

.githubPhoto{
  width: 25rem;
  position: relative;
  margin-top: 2rem;

  .avatar{
    position: absolute;
    width: 6rem;
    border-radius: 50%;
    border: .25rem solid map-get($map: $palette, $key: "black");
    box-shadow: .25rem .25rem map-get($map: $palette, $key: "black");
    background-color: map-get($map: $palette, $key: "black");
    right: 40%;
    top: 2%;
    z-index: 1;
  }

}

.githubInfo{
  position: relative;
  background-color: map-get($map: $palette, $key: "black");
  border-radius: 1rem;
  color: map-get($map: $palette, $key: "white");
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;

  &::before{
    content: "";
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    right: -1.25rem;
    bottom: -1.25rem;
    border-radius: 1rem;
    border: .5rem solid map-get($map: $palette, $key: "black");
    background-color: map-get($map: $palette, $key: "white");
    z-index: -1;
    transition: all .5s;
  }

  h2{
    font-weight: normal;
  }

  p{
    font-family: 'Anton', 'sans-serif';
  }

  &__button{
    width: 50%;
    margin: .5rem auto;
  }

  &:hover{

    &::before{
      top: 1.35rem;
      left: 1.35rem;
      right: -1.35rem;
      bottom: -1.35rem;
    }

  }
}

@media (max-width: 1070px) {
  .githubContent{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .githubPhoto{
    width: 90%;
  }
}