@import "./Variables.scss";

.container {
  background-color: map-get($map: $palette, $key: "primary");
  color: white;
  padding: 1em;
  margin-bottom: 4em;
  font-size: $font;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & > h1 {
    width: 100%;
    margin-bottom: 0.5em;
  }
  & > .versionSvg {
    width: 45%;
    img {
      width: 100%;
    }
  }
  & > .profile {
    width: 45%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    box-shadow: 0em 0em 0.5em rgba($color: white, $alpha: 0.2);
    text-align: center;

    .float {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-60px);
      height: 2em;
      margin-bottom: 0.5em;
    }

    .shadow {
      border-radius: 50%;
      width: 10%;
      border: 5px solid map-get($map: $palette, $key: "secondary");
      margin-top: 1em;
      animation: width 1s linear infinite alternate;

      @keyframes width {
        0% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    .avatar {
      position: relative;
      border-radius: 50%;
      width: 25%;
      border: 5px solid;
      animation: border 1s ease infinite alternate;
      transition: all 0.5s ease;

      @keyframes border {
        0% {
          border-color: lighten(
            $color: map-get($map: $palette, $key: "secondary"),
            $amount: 20
          );
          transform: translateY(-4px);
        }
        100% {
          border-color: lighten(
            $color: map-get($map: $palette, $key: "secondary"),
            $amount: 5
          );
          transform: translateY(0px);
        }
      }
    }
    a {
      padding: 1em;
      background-color: map-get($map: $palette, $key: "secondary");
      display: block;
      margin-top: 0.2em;
      box-shadow: 0 0.2em 0.2em rgba($color: #000000, $alpha: 0.15);
      &:hover {
        background-color: lighten(
          $color: map-get($map: $palette, $key: "secondary"),
          $amount: 10
        );
      }
    }
  }

  &:hover {
    & > div > a {
      animation: letter 0.5s ease-in-out forwards;

      @keyframes letter {
        0% {
          letter-spacing: 0px;
          color: white;
        }
        50% {
          letter-spacing: 3px;
          color: darken($color: white, $amount: 10);
          background-color: lighten(
            $color: map-get($map: $palette, $key: "secondary"),
            $amount: 10
          );
        }
        100% {
          letter-spacing: 0px;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    & > div {
      width: 90% !important;
    }
  }
}

@media (max-width: 560px) {
  .float {
    transform: translateY(-40px) !important;
    height: 2em !important;
    margin-bottom: 0em !important;
  }
  .shadow {
    margin-top: 10px !important;
  }
}

@media (max-width: 360px) {
  .float {
    transform: translateY(-30px) !important;
    height: 2em !important;
    margin-bottom: 0em !important;
  }
  .shadow {
    margin-top: 10px !important;
  }
}
