@import "./Variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  background-color: map-get($map: $palette, $key: "background");
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0em 2em;
}

footer {
  background-color: darken(
    $color: map-get($map: $palette, $key: "background"),
    $amount: 10
  );
  font-size: 18px;
  text-align: center;
  padding: 0.5em;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > div {
    i {
      padding: 0.5em;
      font-size: 23px;
      cursor: pointer;
      &:hover {
        color: map-get($map: $palette, $key: "primary");
      }
    }
  }
}

@media (max-width: 540px) {
  footer {
    flex-direction: column;
  }
}
