@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Shade&family=Playpen+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%family{
  font-family: 'Anton', sans-serif;
}

html,
body {
  @extend %family;
  font-size: 18px;
}

p {
  font-family: sans-serif;
}

body button, body a{
  @extend %family;
}

//Hide ScrollBar

body::-webkit-scrollbar {
  display: none; /* Chrome */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

//End Hide ScrollBar

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0em auto;
  max-width: $maxContainer;
}

.font-white{
  color: map-get($map: $palette, $key: "white");
  font-weight: normal;
}

.iconLeft{
  margin-right: .5rem;
}

.iconRight{
  margin-left: .5rem;
}

.section{
  display: flex;
  position: relative;
}

.section--topClipped{
  margin-top: calc(-1 * var(--diagonalSize));
  clip-path: polygon(0% calc(0% + var(--diagonalSize)), 100% 0, 100% 100%, 0 100%);

  &::after{
    content: "";
    clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - var(--diagonalSize)), 0 100%);
    height: calc(var(--diagonalSize) * 2);
    width: 100%;
    position: absolute;
    background-color: map-get($map: $palette, $key: "black");
    top: 0;
    left: 0;
  }
}


.section__background{
  background-color: map-get($map: $palette, $key: "primary");
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section__background--extraSpace{
  top: var(--diagonalSize);
}

.section__background--white{
  background-color: map-get($map: $palette, $key: "white");
}

.doubleBg{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  & img{
    width: 100%;
    max-width: $maxContainer;
  }

}

.section__title{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: black;
  z-index: 1;
  max-width: 900px;
  margin: 0 auto;

  %title{
    top: -2rem;
    position: absolute;
    z-index: 1;
    padding: 1rem 5rem;
    border-radius: 5rem;
    border: .5rem solid black;
    background-color: white;
    font-size: 1.5rem;
    text-transform: uppercase
  }

  & > span {
    @extend %title;
    right: 0;
    top: -3rem;
  }

  & > i {
    @extend %title;
    padding: 1rem;
    left: 0;
  }

  &--flipped{

    & > span {
      right: unset;
      left: 0;
      top: -2.5rem;
    }
  
    & > i {
      top: -2.5rem;
      left: unset;
      right: 0;
    }

  }

}



.linesEffect--white{
  transform: scale(.85);
  margin-top: 0 !important;
  & > div{
    background-color: map-get($map: $palette, $key: "white") !important;
  }
}

.linesEffect{

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: .75rem 0;
  margin-top: 1.25rem;
  transition: all 1s;

  %line{
    background-color: map-get($map: $palette, $key: "black");
    border-radius: 1rem;
    margin: 0 auto;
  }

  &__1{
    @extend %line;
    width: 75%;
    height: .4rem;
    transform: rotate(1deg);
    transition: all .5s;
    transition-delay: .15s;
  }

  &__2{
    @extend %line;
    width: 50%;
    height: .3rem;
    transform: rotate(2deg);
    transition: all .5s;
    transition-delay: .25s;
  }

  &__3{
    @extend %line;
    width: 30%;
    height: .2rem;
    transform: rotate(3deg);
    transition: all .5s;
    transition-delay: .35s;
  }
}

.linesEffect--flipped{
  flex-direction: column-reverse;
  margin-top: .75rem;

  &__1{
    transform: rotate(-1deg);
  }

  &__2{
    transform: rotate(-2deg);
  }

  &__3{
    transform: rotate(-3deg);
  }

}

.linesImage{

  .linesImage__img{
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    position: relative;
    border-radius: 1.5rem;
    border: .5rem solid map-get($map: $palette, $key: "black");
    box-shadow: .75rem .75rem map-get($map: $palette, $key: "black");
    transition: all .5s;
    background-color: map-get($map: $palette, $key: "white");
  }

  &:hover{
    .linesImage__img{
      box-shadow: 1rem 1.25rem map-get($map: $palette, $key: "black");
      transform: translateY(-.5rem);
    }
    .linesEffect{
      .linesEffect__3{ transform: rotate(-3deg) translateY(.5rem); }
      .linesEffect__2{ transform: rotate(-2deg) translateY(.5rem); }
      .linesEffect__1{ transform: rotate(-1deg) translateY(.5rem); }
    }
    .linesEffect--flipped{
      .linesEffect__1{ transform: rotate(-1deg) translateY(-.5rem); }
      .linesEffect__2{ transform: rotate(-2deg) translateY(-.5rem); }
      .linesEffect__3{ transform: rotate(-3deg) translateY(-.5rem); }
    }
  }

}

.alert{
  position: fixed;
  z-index: 10;
  top: .5rem;
  right: .5rem;
  min-width: 20rem;
  padding: .75rem;
  background-color: map-get($map: $palette, $key: "white");
  border-radius: .5rem;
  border: .25rem solid map-get($map: $palette, $key: "success");
  box-shadow: .25rem .25rem map-get($map: $palette, $key: "success");
  color: map-get($map: $palette, $key: "success");
  text-transform: uppercase;

  transition: all .5s;
  transform: translateY(1rem);
  opacity: 0;
}

.alert--success{
  border: .25rem solid map-get($map: $palette, $key: "success");
  box-shadow: .25rem .25rem map-get($map: $palette, $key: "success");
  color: map-get($map: $palette, $key: "success");
}

.alert--danger{
  border: .25rem solid map-get($map: $palette, $key: "danger");
  box-shadow: .25rem .25rem map-get($map: $palette, $key: "danger");
  color: map-get($map: $palette, $key: "danger");
}

.alert--show{
  transform: translateY(0);
  opacity: 1;
}

.alert--hidden{
  transform: translateY(1rem);
  opacity: 0;
}

@media (max-width: 1130px) {
  .container{
    max-width: 90%;
  }
}

@media (max-width: 916px) {
  .section__title{
    width: 80%;
  }
}

@media (max-width: 500px) {
  .section__title{
    span, i{
      padding: 1rem 1.5rem;
    }
  }

  .linesImage {
    width: 90%;
    .linesImage__img{
      width: 100%;
    }
  }
}