@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Shade&family=Playpen+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%family{
  font-family: 'Playpen Sans', cursive;
}

html,
body {
  @extend %family;
  font-size: 18px;
}

body button, body a{
  @extend %family;
  font-weight: bolder;
}

//Hide ScrollBar

body::-webkit-scrollbar {
  display: none; /* Chrome */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

//End Hide ScrollBar

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0em 2em;
}

footer {
  background-color: map-get($map: $palette, $key: "secondary");
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 0.5em;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      padding: 0.5em;
      font-size: 23px;
      cursor: pointer;
      &:hover {
        color: map-get($map: $palette, $key: "primary");
      }
    }
  }
}

@media (max-width: 720px) {
  footer {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  footer {
    & > div {
      display: flex;
      flex-direction: column;
    }
  }
}
