@import "./Variables.scss";

.transition {
  background-image: linear-gradient(
    to top,
    map-get($map: $palette, $key: "primary"),
    rgba(255, 0, 0, 0)
  );
  padding: 50px;
}

.nightTransition{
  background-image: none;
  background-color: black;
}

@media (max-width: 600px) {
  .transition{
    transform: translateY(-7rem);
  }

  .top{
    height: 44rem;
  }
}

@media (max-width: 400px) {
  .transition{
    transform: translateY(-6.5rem);
  }
}