@import "./Variables.scss";

.top {
  background-image: url("/back.jpg");
  background-size: cover;
  //background-attachment: fixed;
}

.transition {
  background-image: linear-gradient(
    to top,
    map-get($map: $palette, $key: "primary"),
    rgba(255, 0, 0, 0)
  );
  padding: 50px;
}
