@import "./Variables.scss";

.transition {
  background-image: linear-gradient(
    to top,
    map-get($map: $palette, $key: "primary"),
    rgba(255, 0, 0, 0)
  );
  padding: 50px;
}

.nightTransition{
  background-image: none;
  background-color: black;
}

@media (max-width: 600px) {
  .transition{
    padding: 1rem 0;
    background: transparent;
  }

  .top{
    height: 44rem;
  }
}