@import "./Variables.scss";

.modalBackground {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(#000000, 0.8);
  transition: all 1s ease-out;
  &:hover {
    background: rgba(#000000, 0.7);
  }
  z-index: 10;
}

.modal {
  position: fixed;
  top: 10%;
  left: 25%;
  height: 0;
  width: 50%;
  border-radius: 0.5em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: $font;
  z-index: 10;
  overflow-y: auto;

  /* Hide ScrollBar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .modalHead {
    display: flex;
    justify-content: space-between;
    padding: 0.35em;
    h1 {
      font-weight: 400;
      margin-left: 0.5em;
    }
  }

  .modalBody {
    text-align: justify;
    margin: 5px 1em;

    img {
      display: block;
      margin: 0.2em auto;
    }
  }

  a {
    text-align: center;
    width: 100%;
    padding: 0.75em;
    border: 0;
    background-color: map-get($map: $palette, $key: "primary");
    font-weight: bold;
    cursor: pointer;
    font-size: $font;
    color: white;
    i {
      font-size: 20px;
      margin-left: 0.2em;
    }
    transition: all 0.1s linear;
    &:hover {
      //background-color: map-get($map: $palette, $key: "secondary");
      filter: saturate(200%);
    }
  }
}

.closeIcon {
  font-size: 2rem;
  position: fixed;
  top: 10%;
  left: 71%;
  margin-right: 0.3em;
  margin-top: 0.3em;
  &:hover {
    color: map-get($map: $palette, $key: "danger");
    cursor: pointer;
  }
  z-index: 101;
  animation: openIcon 0.4s ease-in-out forwards;
  @keyframes openIcon {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.modalAnimation {
  animation: open 0.2s ease-in-out forwards;
  @keyframes open {
    0% {
      height: 0;
    }
    100% {
      height: 80vh;
    }
  }
  @media (max-width: 571px) {
    animation: openRes 0.2s ease-in-out forwards;
    @keyframes openRes {
      0% {
        height: 0;
      }
      100% {
        height: 100%;
      }
    }
  }
}

.modalCloseAnimation {
  animation: close 0.2s ease-in-out forwards;
  @keyframes close {
    0% {
      height: 80vh;
    }
    100% {
      height: 0;
    }
  }
  @media (max-width: 571px) {
    animation: closeRes 0.2s ease-in-out forwards;
    @keyframes closeRes {
      0% {
        height: 100vh;
      }
      100% {
        height: 0;
      }
    }
  }
}

.closeIconAnimation {
  animation: closeIcon 0.15s ease-in-out forwards;
  @keyframes closeIcon {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.backgroundAnimation {
  animation: backgroundOpen 0.3s ease-in-out forwards;
  @keyframes backgroundOpen {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.backgroundCloseAnimation {
  animation: backgroundCloseOpen 0.2s ease-in-out forwards;
  @keyframes backgroundCloseOpen {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 939px) {
  .modal {
    width: 90%;
    left: 5%;
  }
  .closeIcon {
    left: 88%;
  }
}

@media (max-width: 571px) {
  .closeIcon {
    left: 90%;
    top: 0;
  }
  .modal {
    border-radius: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
  }
}
