@import "./Variables.scss";

.white{
  color: white;
}

.blue{
  color: map-get($map: $palette, $key: "primary");
}

.nav{
  padding: .5rem;
}

.navContainer {
  position: absolute;
  width: calc(100% - 1rem);
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-left: .25rem;
  padding-right: .25rem;
  div {
    font-size: $font + 5px;
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
    }
    font-family: 'Anton', sans-serif;
    cursor: pointer;
  }

  div:hover{
    color: map-get($map: $palette, $key: "primary") !important;
    & > .blue{
      color: #000 !important;
    }
  }
}

.list {
  width: 4.2rem;
  transition: .5s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  color: lighten($color: map-get($map: $palette, $key: "primary"), $amount: 30);
  border: 2px solid rgba(255, 255, 255, .75);
  background: linear-gradient(to left, rgba(255, 255, 255, .5), rgba(255, 255, 255, .25));
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(255, 255, 255, .90) inset;
  font-size: $font + 2px;
  
  li {
    list-style: none;
  }

  a {
    padding: .75rem 1.5rem;
    opacity: 0;
    transition: .25s;
  }

  .menu{
    opacity: 1;
    padding: .75rem 1.5rem;
    transition: opacity 1s linear, display 0s 100s;
  }

  a:hover{
    color: map-get($map: $palette, $key: "primary");
  }

}

.list:hover{
  width: 21rem !important;

  a{
    opacity: 1;
  }

  .menu{
    opacity: 0;
    display: none;
  }
}

.tooltip{
  font-size: $font - 4px !important;
  font-weight: 400 !important;
}

@media (max-width: 1000px) {

  .list{
    width: 21rem !important;
  }

  .list a{
    opacity: 1 !important;
  }

  .list .menu{
    display: none !important;
  }
  
}

@media (max-width: 700px) {
  .nav {
    padding-top: 20px;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  /*.list a {
    padding: 12px;
  }
  .list{
    width: min-content;
  }*/
  .list {
    width: 100% !important;
    justify-content: center;
  }
  .list a {
    padding: 1rem;
  }
  .navContainer{
    width: calc(100% - 1rem) !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 530px) {
  .navContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 0 .5rem;
    padding-top: 20px;
    ul {
      display: flex;
      justify-content: center;
    }
  }
  .list {
    flex-wrap: wrap;
  }
  .navContainer{
    padding-left: 1rem;
  }
}
