/*$palette: (
  "background": #f1f1f1,
  "primary": #2ecc71,
  "secondary": #c9510c,
  "secondary-lighten": #d1721f,
  "danger": #f00b0b,
);*/

$palette: (
  "background": #f1f1f1,
  "primary": #2980b9,
  "secondary": #2c3e50,
  "secondary-lighten": #374a5e,
  "danger": #f00b0b,
);

$font: 23px;
$xlfont: 35px;
$smfont: 15px;
